*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background: linear-gradient(to right, #335399, #00ff9d);
}

h1{
  font-weight: bold;
}

a{
  text-decoration: none;
}

.login-page{
  width: 350px;
  height: 450px;
  margin-left: 1px;
  border-radius: 1rem;
  background: rgb(235, 235, 235);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all .4s;
}

.login-page:hover{
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.500);
}

.login-page h1{
  margin-bottom: 25px;
}

.login-page form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-page form input{
  width: 250px;
  height: 35px;
  margin: 8px;
  background: rgb(218, 218, 218);
  border: none;
  padding-left: 10px;
  outline: none;
  transform: all .4s;
}

.login-page form input:focus{
  background: rgb(194, 194, 194);
}

.btn{
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-page form .btn{
  width: 250px;
  height: 35px;
  margin: 8px;
  background: #008cba;
  border: none;
  border-radius: 1rem;
  outline: none;
  cursor: pointer;
  transition: all .4s;
}

.login-page form .btn:hover{
  background-color: #005f6b;
  color: #fff;
}

.icons{
  width: 250px;
  height: 40px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgotpassword{
  margin-top: .8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-fp{
  text-decoration: none;
  color: #184750;
}

.link-fp:hover{
  color: #113840;
  text-decoration: underline;
}
