@import url("https://fonts.googleapis.com/css2?family=The+Seasons:wght@400&display=swap");

* {
  user-select: none;
  
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/***************** NAVBAR ****************/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 60px;
  margin-right: 10px;
}

.logo h1 {
  font-size: 24px;
  color: #000;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  position: relative;
  flex-grow: 1;
  text-align: center;
  margin-left: 70px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 16px;
}

nav .sign-up {
  margin-left: 20px;
  background-color: #008cba;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

nav .sign-up:hover {
  background-color: #000;
  transition: all 0.2s ease-in-out;
}

nav .arrow {
  margin-left: 5px;
  font-size: 12px;
}

.user-profile{
  cursor: pointer;
}

/************** DROPDOWN ****************/

nav .dropdown:hover .dropdown-menu {
  display: block;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: -50px;
  /* 0px */
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 200px;
  z-index: 1000;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
}

.dropdown-menu a:hover {
  background-color: #008cba;
  color: #fff;
}

/************** BANNER **************/

.hero {
  font-family: "Roboto", sans-serif;
  background-image: url("./images/home_bg.png");
  background-size: cover;
  background-position: center;
  padding: 150px 0px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.hero h2 {
  font-family: "The Seasons", serif;
  font-style: bold;
  font-size: 55px;
  margin: 0;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.tagline {
  font-style: italic;
  font-size: 24px;
  margin: 20px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.search-bar {
  margin-top: 40px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: inline-flex;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
}

.search-bar input {
  border: none;
  padding: 10px;
  width: 500px;
  height: 30px;
  font-size: 16px;
  border-radius: 15px 0 0 15px;
}

.search-bar input:focus {
  outline: none;
}

.search-bar button {
  border: none;
  background-color: #008cba;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0 15px 15px 0;
}

.search-bar:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.results-container {
  margin: 20px auto;
  max-width: 550px; /* Keep it consistent with input width */
  border-radius: 15px; /* Match the search bar's border radius */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* White background */
  overflow: hidden; /* Round the corners */
  color: #000;
}

/* Individual result items */
.results-container div {
  padding: 15px; /* Increased padding for comfort */
  border-bottom: 1px solid #eee; /* Light separator */
  transition: background-color 0.3s; /* Smooth background change */
  text-align: left;
}

/* Last item without border */
.results-container div:last-child {
  border-bottom: none;
}

/* Hover effect for results */
.results-container div:hover {
  background-color: #f0f0f0; /* Light gray background on hover */
}

/* No results message */
.results-container p {
  text-align: center;
  padding: 10px;
  color: #666; /* Soft gray for no results text */
  margin: 0; /* Remove default margin */
}

/**************** Hidden Gems ****************/

.hidden-gems {
  font-family: "Montserrat", sans-serif;
  padding: 50px;
  background-color: #f8f9fa;
  text-align: center;
}

.hidden-gems h2 {
  font-family: "The Seasons", serif;
  font-style: italic;
  font-size: 32px;
  margin-bottom: 40px;
}

.hidden-gems p {
  margin: 10px 0 0;
  font-size: 14px;
  color: #000000;
  line-height: 1.4;
}

.view-more {
  background-color: #008cba;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #fff;
  border: none;
  padding: 20px 40px;
  border-radius: 20px;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.view-more:hover {
  background-color: #000;
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.gem-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.gem-card {
  background-color: #f8f9fa;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.gem-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.gem-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.gem-card p {
  font-size: 16px;
  color: #333;
  margin: 0;
}

.gem-card .title {
  font-size: 24px;
  font-family: "The Seasons", serif;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}

.read-more-link {
  display: inline-block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #008cba;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 15px;
  transition: background-color 0.3s ease, transform 0.3s ease-in-out;
}

.read-more-link:hover {
  background-color: #000;
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.blogs {
  font-family: "Montserrat", sans-serif;
  padding: 50px;
  background-color: #184750;
  text-align: center;
}

.blogs h2 {
  font-family: "The Seasons", serif;
  font-style: italic;
  font-size: 40px;
  margin-bottom: 40px;
  color: #fff;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.blog-card {
  background-color: #f8f9fa;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* .blog-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 250px;
    align-items: center;
}

.blog-content h3 {
    margin-bottom: 10px;
}

.blog-content p {
    margin-bottom: auto;
    font-size: 16px;
} */

.blog-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.blog-card p.title {
  font-size: 24px;
  font-family: "The Seasons", serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.blog-card p {
  font-size: 16px;
  margin: 0;
}

.blog-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.view-more2 {
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #008cba;
  border: 2px solid #008cba;
  padding: 20px 40px;
  border-radius: 20px;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.view-more2:hover {
  background-color: #008cba;
  color: #fff;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.gems-gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.gem {
  width: 150px;
  height: 150px;
  background-color: #cfcfcf;
  border-radius: 10px;
}

/*************** FOOTER ****************/

.container {
  width: 80%;
  margin: 0 auto;
}

.footer {
  background-color: #008cba;
  color: #fff;
  padding: 50px 20px;
  font-family: "Montserrat", sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
}

.about-us,
.query-form {
  flex: 1;
}

.about-us h4,
.query-form h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-us p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  gap: 50px;
  margin-top: 40px;
}

.social-icons img {
  width: 35px;
  height: auto;
  transition: transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.query-form form {
  display: flex;
  flex-direction: column;
}

.query-form input,
.query-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.query-form button {
  background-color: #008cba;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.query-form button:hover {
  background-color: #000;
  transform: scale(1.05);
}

/********* Hotspots Page ***********/

.hotspots {
  font-family: "Montserrat", sans-serif;
  padding: 50px 50px 10px 50px;
  background-color: #008cba;
  text-align: center;
}

.hotspots h2 {
  font-family: "The Seasons", serif;
  font-style: bold;
  font-size: 50px;
  margin-bottom: 40px;
  color: #fff;
}

.hotspot-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 10px;
}

.hotspot-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  cursor: pointer;
  max-width: 900px;
  margin: 0 auto;
}

.hotspot-item:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.hotspot-item img {
  width: 200px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 20px;
}

.hotspot-info {
  text-align: left;
}

.hotspot-info h3 {
  font-size: 24px;
  margin: 0 0 10px;
  color: #008cba;
}

.hotspot-info p {
  font-size: 16px;
  color: #333;
  margin: 0;
}

.hotspot-info p strong {
  font-size: 18px;
  font-family: "The Seasons", serif;
  font-style: italic;
  color: #000;
}

/* Styles for Stay Tuned Section */
.stay-tuned {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background-color: #fff;
  border-top: 2px solid #008cba;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.stay-tuned-info {
  flex: 1;
  text-align: left;
  margin-right: 40px;
}

.stay-tuned-info h2 {
  font-family: "The Seasons", serif;
  font-size: 42px;
  margin: 0 0 35px;
  color: #008cba;
}

.stay-tuned-info p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #333;
  margin: 0;
}

.stay-tuned img {
  width: 400px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

/* Hamburger Menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1001; /* Ensure it stays above the nav */
}

.menu-toggle span {
  background-color: #000;
  height: 3px;
  width: 100%;
  border-radius: 2px;
}

/********************** Media Query ***********************/

/* Default styles are for desktop */

@media screen and (max-width: 1200px) {
  nav ul {
    margin-left: 20px;
  }

  nav ul li {
    margin-left: 40px;
  }

  .sign-up {
    padding: 8px 15px;
  }

  /****** hotspots *******/
  .hotspots {
    padding: 40px 30px;
  }

  .hotspots h2 {
    font-size: 40px;
  }

  .hotspot-item {
    padding: 15px;
    max-width: 800px;
  }

  .hotspot-info h3 {
    font-size: 22px;
  }

  .hotspot-info p {
    font-size: 14px;
  }

  .stay-tuned {
    padding: 40px;
  }

  .stay-tuned-info h2 {
    font-size: 36px;
  }

  .stay-tuned-info p {
    font-size: 18px;
  }

  .stay-tuned img {
    width: 350px;
  }
}

@media (min-width: 992px) {
  /* Styles for large screens */
  .hero {
    padding: 200px 0px;
  }

  .hidden-gems,
  .blogs {
    padding: 80px;
  }

  /* .gem-grid,
  .blog-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  } */

  .view-more,
  .view-more2 {
    padding: 25px 50px;
  }

  .footer-content {
    gap: 100px;
  }

  .about-us p {
    line-height: 1.8;
  }
}

@media (min-width: 768px) {
  /* Styles for medium screens */

  .hero {
    padding: 180px 0px;
  }

  .hidden-gems,
  .blogs {
    padding: 60px;
  }

  /* .gem-grid,
  .blog-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  } */

  .view-more,
  .view-more2 {
    padding: 20px 40px;
  }

  .footer{
    padding: 50px 20px;
  }

  .container{
    width: auto;
  }

}

/* For tablets (landscape and portrait) */
@media screen and (max-width: 992px) {
  header {
    padding: 10px 15px;
  }

  nav ul {
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 0;
    background-color: white;
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
    align-items: flex-start;
    display: none;
  }

  nav ul li {
    margin-left: 0;
    margin-bottom: 20px;
  }

  nav ul li a {
    font-size: 18px;
    padding: 10px;
    display: block;
    text-align: left;
  }

  nav .sign-up {
    margin-left: 0;
    padding: 12px 20px;
    width: 100%;
    text-align: center;
  }

  nav ul.open {
    display: flex;
  }

  /****** hotspots *******/

  .hotspots {
    padding: 30px 20px;
  }

  .hotspots h2 {
    font-size: 36px;
  }

  .hotspot-list {
    gap: 15px;
  }

  .hotspot-item {
    flex-direction: column;
    max-width: 700px;
  }

  .hotspot-item img {
    margin-right: 0;
    margin-bottom: 15px;
    width: 100%;
    height: auto;
  }

  .hotspot-info h3 {
    font-size: 20px;
  }

  .hotspot-info p {
    font-size: 13px;
  }

  .stay-tuned {
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }

  .stay-tuned-info {
    margin-right: 0;
    text-align: center;
    margin-bottom: 20px;
  }

  .stay-tuned-info h2 {
    font-size: 32px;
  }

  .stay-tuned-info p {
    font-size: 16px;
  }

  .stay-tuned img {
    width: 100%;
    max-width: 400px;
  }
}

/* For mobile devices */
@media screen and (max-width: 768px) {

  header {
    padding: 10px 20px;
  }

  .logo img {
    height: 60px;
    margin-right: 10px;
  }

  .logo h1 {
    font-size: 20px;
  }

  /* nav ul li {
    margin-left: 50px;
  }

  nav ul li a {
    font-size: 14px;
  } */

  .hero {
    padding: 150px 20px;
  }

  .hero h2 {
    font-size: 40px;
  }

  .search-bar {
    width: 100%;
  }

  .hidden-gems,
  .blogs {
    padding: 40px 20px;
  }

  .gem-grid,
  .blog-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .view-more,
  .view-more2 {
    padding: 15px 30px;
    font-size: 14px;
  }

  .footer-content {
    flex-direction: column;
    gap: 20px;
  }

  .about-us,
  .query-form {
    flex: 100%;
  }

  .social-icons {
    justify-content: center;
    margin-top: 20px;
  }

  .footer{
    padding: 50px 20px;
  }

  .container{
    width: auto;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px 15px;
  }
  
  nav {
    /* width: 100%; */
    display: contents;
  }

  nav .dropdown-menu {
    left: 0;
    position: static;
    width: fit-content;
    display: none;
  }

  nav .dropdown:hover .dropdown-menu {
    display: inline-block;
    position: static;
    height: auto;
    overflow-y: visible;
  }

  .menu-toggle {
    display: flex;
    cursor: pointer;
    z-index: 0;
    height: 25px;
  }

  nav ul.open {
    display: flex;
  }

  nav .sign-up {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }

  /* Make sure nav is hidden by default and fully opens on toggle */
  nav ul {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 70px;
    left: 0;
    width: 80%;
    background-color: white;
    height: auto;
    padding: 10px 20px;
    z-index: 1000;
    overflow-y: auto;
  }

  /* Ensure ul opens properly */
  nav ul.open {
    display: flex;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }

  /* Reduce space between items */
  nav ul li {
    width: 100%; /* Makes the items take up full width */
    margin-bottom: 15px; /* Add space between items */
    margin: 10px 0;
    flex-grow: 0;
  }

  nav ul li a {
    font-size: 16px;
    padding: 8px 20px; /* Adjust padding for better appearance */
    display: block;
    text-align: left;
    /* width: 100%; */
    font-size: 18px;
    padding: 15px 0;
    text-align: center;
  }

  /* Sign-up button styling */
  nav .sign-up {
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
    width: 50%;
    text-align: center;
    background-color: #0044cc;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
  }

  nav .sign-up:hover {
    background-color: #0033a0;
  }

  /****** hotspots *******/

  .hotspots {
    padding: 20px 15px;
  }

  .hotspots h2 {
    font-size: 32px;
  }

  .hotspot-list{
    gap: 15px;
  }

  .hotspot-item {
    flex-direction: column;
    max-width: 100%;
  }

  .hotspot-item img {
    width: 100%;
    height: auto;
    margin-right: 0;
  }

  .hotspot-info h3 {
    font-size: 18px;
  }

  .hotspot-info p {
    font-size: 12px;
  }

  .stay-tuned {
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }

  .stay-tuned-info {
    text-align: center;
    margin-bottom: 20px;
  }

  .stay-tuned-info h2 {
    font-size: 28px;
    margin: 0 0 25px;
  }

  .stay-tuned-info p {
    font-size: 14px;
  }

  .stay-tuned img {
    width: 100%;
    max-width: 350px;
  }
}

/*For very small mobile devices */
@media screen and (max-width: 480px) {
  nav ul li a {
    font-size: 16px;
    padding: 12px 0;
  }

  nav .dropdown:hover .dropdown-menu {
    position: static;
    height: auto;
    display: inline-block;
  }

  .sign-up {
    padding: 10px;
  }

  /****** hotspots *******/
  .hotspots {
    padding: 20px 10px;
  }

  .hotspots h2 {
    font-size: 28px;
  }

  .hotspot-list {
    gap: 15px;
  }

  .hotspot-item {
    padding: 15px;
    max-width: 100%;
    flex-direction: column;
  }

  .hotspot-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px; /* Adjusting space between image and text content */
  }

  .hotspot-info h3 {
    font-size: 18px;
  }

  .hotspot-info p {
    font-size: 12px;
  }

  .stay-tuned {
    padding: 20px 10px;
    flex-direction: column;
    align-items: center;
  }

  .stay-tuned-info {
    text-align: center;
    margin-bottom: 20px;
  }

  .stay-tuned-info h2 {
    font-size: 26px;
    margin: 0 0 25px;
  }

  .stay-tuned-info p {
    font-size: 14px;
  }

  .stay-tuned img {
    width: 100%;
    max-width: 300px; /* Smaller image width for smaller screens */
  }
}
